// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-group {
  margin-bottom: 1rem;
}
.form-control {
  background-color: white;
}

.mobile-button {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
