<template>
    <div>
    <form @submit.prevent="submit">
        <div class="alert alert-success" v-show="success">
            Settings saved successfully
        </div>

        <div class="form-group row">
            <label for="address" class="col-md-4 col-form-label text-md-right">Address</label>
            <div class="col-md-6">
                <input id="address" type="text" class="form-control" name="address" v-model="fields.address" required autofocus>
                <div class="alert alert-danger" v-if="errors && errors.address">
                    {{ errors.address[0] }}
                </div>
            </div>
        </div>

        <div class="form-group row" style="display: none;">
            <label for="user_id" class="col-md-4 col-form-label text-md-right">User Id</label>
            <div class="col-md-6">
                <input id="user_id" type="text" class="form-control" name="user_id" v-model="fields.user_id" required autofocus>
                <div class="alert alert-danger" v-if="errors && errors.user_id">
                    {{ errors.user_id[0] }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="phone" class="col-md-4 col-form-label text-md-right">Phone</label>
            <div class="col-md-6">
                <input id="phone" type="text" class="form-control" name="phone" v-model="fields.phone" required autocomplete="phone">
                <div class="alert alert-danger" v-if="errors && errors.phone">
                    {{ errors.phone[0] }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="category_id" class="col-md-4 col-form-label text-md-right">Category</label>
            <div class="col-md-6">
                <select class="form-control" id="category_id" name="category_id" v-model="fields.category_id">
                    <option v-for="category in categories"
                            :value="category.id">{{ category.name }}
                    </option>
                </select>
                <div class="alert alert-danger" v-if="errors && errors.category_id">
                    {{ errors.category_id[0] }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="description" class="col-md-4 col-form-label text-md-right">Description</label>
            <div class="col-md-6">
                <textarea id="description" rows="5" class="form-control" name="description" v-model="fields.description" required></textarea>
                <div class="alert alert-danger" v-if="errors && errors.description">
                    {{ errors.description[0] }}
                </div>
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
                <a class="btn btn-light" href="/settings">Back</a>
            </div>
        </div>
    </form>
    </div>
</template>

<script>
    export default {
        props: [
            'larUserId',
            'larSettingId',
        ],
        data() {
            return {
                categories: null,
                postUpdate: 'update',
                fields: {},
                success: false,
                errors: {}
            }
        },
        mounted() {
            axios.get('/api/categories').then(response => {
                this.categories = response.data.data;
            });

            axios.get('/api/settings/'+this.larSettingId).then(response => {
                this.fields = response.data;
            }).catch(error => {
                this.postUpdate = 'post';
                this.fields.user_id = this.larUserId;
            });

        },
        methods: {
            submit() {
                if (this.postUpdate === 'post') {
                    axios.post('/api/settings', this.fields).then(response => {
                        //this.fields = {};
                        this.success = true;
                        this.errors = {};
                    }).catch(error => {
                        alert(error);
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        }
                        console.log('Error');
                    });
                } else {
                    axios.put('/api/settings/'+this.larSettingId, this.fields).then(response => {
                        //this.fields = {};
                        this.success = true;
                        this.errors = {};
                    }).catch(error => {
                        alert(error);
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        }
                        console.log('Error');
                    });
                }
            }
        }
    }
</script>
