<template>
    <div>
    <form @submit.prevent="submit">
        <div class="alert alert-success" v-show="success">
            Settings saved successfully
        </div>

        <div class="form-group row">
            <label for="param_name" class="col-md-4 col-form-label text-md-right">Param Name</label>
            <div class="col-md-6">
                <input id="param_name" type="text" class="form-control" name="param_name" v-model="fields.param_name" required autofocus autocomplete="param_name">
                <div class="alert alert-danger" v-if="errors && errors.param_name">
                    {{ errors.param_name[0] }}
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="param_value" class="col-md-4 col-form-label text-md-right">Param Value</label>
            <div class="col-md-6">
                <input id="param_value" type="text" class="form-control" name="param_value" v-model="fields.param_value" required autocomplete="param_value">
                <div class="alert alert-danger" v-if="errors && errors.param_value">
                    {{ errors.param_value[0] }}
                </div>
            </div>
        </div>

        <div class="form-group row mb-0">
            <div class="col-md-8 offset-md-4">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
                <a class="btn btn-light" href="/trustpilots">Back</a>
            </div>
        </div>
    </form>
    </div>
</template>

<script>
    export default {
        props: [
        ],
        data() {
            return {
                postUpdate: 'post',
                fields: {},
                success: false,
                errors: {}
            }
        },
        mounted() {
        },
        methods: {
            submit() {
                if (this.postUpdate === 'post') {
                    axios.post('/api/trustpilots', this.fields).then(response => {
                        this.fields = {};
                        this.success = true;
                        this.errors = {};
                    }).catch(error => {
                        alert(error);
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        }
                        console.log('Error');
                    });
                }
            }
        }
    }
</script>
